{% extends "gemtract/skeleton.html" %}
{% block gemtract %}

<h1 data-intro="You are currently in the process of trimming your model.">Step 2. Trim the Model</h1>

<div id="loading"><i class="fa fa-spinner w3-spin"></i> loading network &mdash; this may take a few minutes for very large models</div>

<div id="error" class="w3-container w3-red w3-padding"></div>

<div id="filtercontainer" style="display:none">
  <p>
  The following table displays the number of entities in your model:
  <ul>
	  <li><strong>original:</strong> number of entities in the originally selected model</li>
	  <li><strong>trimmed:</strong> number of entities in the model after trimming</li>
	  <li><strong>inconsistent:</strong> entities that may need special attention when applying the current filter</li>
  </ul>
  </p>
  <table class="w3-table w3-bordered" data-intro="This table gives some overview of the trimming state: how many entities are in the original model, how many entities will be left after applying your filter, and how many entities are in an inconsistent state and may need extra attention.">
  <tr>
    <th></th>
    <th>original</th>
    <th>trimmed</th>
    <th>inconsistent</th>
  </tr>
  <tr>
    <th>species</th>
    <td id="s_org"></td>
    <td id="s_cur"></td>
    <td id="s_inconsistent"></td>
  </tr>
  <tr>
    <th>reactions</th>
    <td id="r_org"></td>
    <td id="r_cur"></td>
    <td id="r_inconsistent"></td>
  </tr>
  <tr>
    <th>enzymes</th>
    <td id="g_org"></td>
    <td id="g_cur"></td>
    <td id="g_inconsistent"></td>
  </tr>
  <tr>
    <th>enzyme complexes</th>
    <td id="gc_org"></td>
    <td id="gc_cur"></td>
    <td id="gc_inconsistent"></td>
  </tr>
  </table>

  <h2>Reduce Model Size</h2>

  <p>
    You can now discard a subset of the model's entities (species, reactions, enzymes, or enzyme complexes) to reduce the model size.
    A concentrated model may improve subsequent computations dramatically.
  </p>


  <div class="w3-bar  w3-white w3-border" data-intro="Use this tabbed bar to trim the entities off your model. Let's go through the different options.">
    <div class="w3-bar-item w3-hide-small">Filter:</div>
    <button id="filter-species-tab" class="w3-bar-item w3-button" onclick="tab('filter-species', 'filter-species-tab')">Species</button>
    <button id="filter-reaction-tab" class="w3-bar-item w3-button" onclick="tab('filter-reaction', 'filter-reaction-tab')">Reactions</button>
    <button id="filter-gene-tab" class="w3-bar-item w3-button" onclick="tab('filter-gene', 'filter-gene-tab')">Enzymes</button>
    <button id="filter-gene-complex-tab" class="w3-bar-item w3-button" onclick="tab('filter-gene-complex', 'filter-gene-complex-tab')">Enzyme Complexes</button>
    <button id="filter-batch-tab" class="w3-bar-item w3-button" onclick="tab('filter-batch', 'filter-batch-tab')">Batch</button>
  </div>


    <div id="filter-tables" class="w3-margin">
      <div id="filter-species" class="w3-responsive" style="display:none">
		<p>You may sort the following table by clicking on the header cell. Move your mouse over the number of reactions of a species to find out in which reaction it is used.</p>
        <p>A red row indicates, that the corresponding species does not participate in any reaction anymore, so you may want to exclude it as well? If uncheck a species, it will not be removed from the entire model, but it will be removed from all reactions (it may still be used in other entities, such as functions or triggers). However, there may be ghost species afterwards, not participating in any reaction. See also: <a href="{% url 'index:learn' %}#filter-species">What exactly happens when I remove a species during filtering?</a></p>
	<p><small><a id="toggle-species">Toggle all species</a></small></p>
        <table class="w3-table w3-striped sortable notfirst">
           <thead data-intro="In the <strong>'Species'</strong> tab you can remove individual species from you model. The table can be sorted by clicking the table headers. For example, click <strong>'#Reactions'</strong> to find and remove currency metabolites (i.e. species participating in almost every reaction)." data-intro-clickbefore="filter-species-tab">
             <th>include <i class='fas fa-sort'></i></th>
             <th>ID <i class='fas fa-sort'></i></th>
             <th>Name <i class='fas fa-sort'></i></th>
             <th title="Occurences in Reactions">#Reactions <i class='fas fa-sort'></i></th>
           </thead>
           <tbody id="species-table"></tbody>
        </table>
      </div>
      <div id="filter-reaction" class="w3-responsive" style="display:none" class="">
		<p>You may sort the following table by clicking on the header cell.</p>
        <p>A red row indicates, that your filter would keep the reaction in the model, but some (or all) of its species and/or all associated genes were removed. So the reaction may be wrong afterwards, and you may want to exclude the reaction as well? If you export the <em>reaction network</em> and you removed all its species, the reaction will be removed as well. If you export the <em>enzyme network,</em> the reaction will be removed if all its species are removed or all its genes are removed. See also: <a href="{% url 'index:learn' %}#filter-reaction">What exactly happens when I remove a reaction during filtering?</a></p>
	
	<div id="upload-fbresults" class="" data-intro="In the <strong>'Reactions'</strong> tab you can upload a CSV file containing the fluxes of the reactions in your model. This will create an additional column in the table below, so you can quickly remove (in-)active reactions." data-intro-clickbefore="filter-reaction-tab">
	  <form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <label for="fbresults" id="fbresults-label" class="w3-button w3-flat-clouds">
	      <span id="fbresults-caption">Click to upload and integrate flux balance results:</span>
	      <strong><span id="fbresults-name">none selected</span></strong>
	    </label>
	    <input type="file" name="fbresults" id="fbresults">
	    <button type="submit" class="w3-button w3-flat-silver">Upload</button>
	    (<a href="{% url 'index:learn' %}#fbresults-format">How to format FBA results?</a>)
	  </form>
	</div>
	
	<p id="fluxinfo" class="w3-padding">Found fluxes for <span id="fluxinfo_reactions"></span> reactions. <span id="fluxinfo_missing_reactions"></span> reactions do not have a flux. <span id="fluxinfo_unused_fluxes"></span> fluxes were defined for non-existing reactions.</p>
	
	<p><small><a id="toggle-reactions">Toggle all reactions</a></small></p>
        <table class="w3-table w3-striped sortable notfirst">
           <thead data-intro="Use the table in the <strong>'Reactions'</strong> tab to remove individual reactions from your model. Again, the table can be sorted by clicking the table headers. Upload your FBA results above to get another column to sort by activity." data-intro-clickbefore="filter-reaction-tab">
             <th>include <i class='fas fa-sort'></i></th>
             <th>ID <i class='fas fa-sort'></i></th>
             <th>Name <i class='fas fa-sort'></i></th>
             <th>In <i class="fas fa-arrow-right"></i> Out <i class='fas fa-sort'></i></th>
             <th>Genes <i class='fas fa-sort'></i></th>
             <th id='flux_column'>Fluxes <i class='fas fa-sort'></i></th>
           </thead>
           <tbody id="reaction-table"></tbody>
        </table>
      </div>
      <div id="filter-gene" class="w3-responsive" style="display:none" class="">
	<p>You may sort the following table by clicking on the header cell. Move your mouse over the number of reactions or enzyme complexes in the table to find out where the enzyme is used.</p>
        <p>Unselecting an enzyme will also remove all complexes in which it appears (they will be highlighted in read under the <em>Enzyme Complex</em> tab). A red enzyme indicates, that the enzyme is not used in any reaction anymore. Thus, it will be excluded even if you keep it selected here. See also: <a href="{% url 'index:learn' %}#gene-association">How does the GEMtractor identify genes that are associated to a reaction?</a> and <a href="{% url 'index:learn' %}#filter-gene">What exactly happens when I remove an enzyme during filtering?</a></p>
	<p><small><a id="toggle-gene">Toggle all enzymes</a></small></p>
        <table class="w3-table w3-striped sortable notfirst">
           <thead data-intro="In the <strong>'Enzymes'</strong> tab you can remove individual enzymes from your model. The table can be sorted by clicking the table headers. The columns <strong>'#Reactions'</strong> and <strong>'#Complexes'</strong> show in how many reactions and enzyme complexes the corresponding enzyme participates." data-intro-clickbefore="filter-gene-tab">
             <th>include <i class='fas fa-sort'></i></th>
             <th>ID <i class='fas fa-sort'></i></th>
             <th title="Occurences in Reactions">#Reactions <i class='fas fa-sort'></i></th>
             <th title="Occurences in Gene Complexes">#Complexes <i class='fas fa-sort'></i></th>
           </thead>
           <tbody id="gene-table"></tbody>
        </table>
      </div>
      <div id="filter-gene-complex" class="w3-responsive" style="display:none" class="">
	<p>You may sort the following table by clicking on the header cell. Move your mouse over the number of reactions in the table to find out where the enzyme complex is used.</p>
        <p>Unselecting an enzyme complex will <strong>not</strong> remove the individual enzymes appearing in that complex! Other complexes, which are a superset of a removed complex, will be highlighted in red-italics &mdash; move your mouse over the complex' id to learn which sub-complexes are to be removed. If you do not remove those yourself, they are assumed to be still available in the model. See also: <a href="{% url 'index:learn' %}#gene-association">How does the GEMtractor identify genes that are associated to a reaction?</a> and <a href="{% url 'index:learn' %}#enzyme-complex">What is an enzyme complex?</a> and <a href="{% url 'index:learn' %}#filter-enzyme-complex">What exactly happens when I remove an enzyme complex during filtering?</a></p>
	<p><small><a id="toggle-gene-complex">Toggle all enzyme complexes</a></small></p>
        <table class="w3-table w3-striped sortable notfirst">
           <thead data-intro="In the <strong>'Enzyme Complexes'</strong> tab you can remove enzyme complexes from your model. The table can be sorted by clicking the table headers. The column <strong>'#Reactions'</strong> shows in how many reactions the corresponding enzyme complex participates." data-intro-clickbefore="filter-gene-complex-tab">
             <th>include <i class='fas fa-sort'></i></th>
             <th>ID <i class='fas fa-sort'></i></th>
             <th title="Occurences in Reactions">#Reactions <i class='fas fa-sort'></i></th>
           </thead>
           <tbody id="gene-complex-table"></tbody>
        </table>
      </div>
      <div id="filter-batch" style="display:none" class="" data-intro="Using the <strong>'Batch'</strong> tab you can import and export your trim-settings." data-intro-clickbefore="filter-batch-tab">
	<p>
	  Use the following text area to automatically alter the filtering.
	  Every line begins with an entity identifier (species, reactions, enzymes, enzyme_complexes), followed by a colon (:) and a comma seperated list of identifiers:
	</p>
        <textarea id="batch-filter" rows="20">
        </textarea>
	<button id="batch-button" class="w3-btn w3-flat-silver">apply batch</button>
	<p>
	  For more information, see <a href="{% url 'index:learn' %}#batch-filter">How does the batch filtering work?</a>
	</p>
      </div>
    </div>

</div>

<script>
  token = '{{ csrf_token }}';
  loadNetwork ();
</script>
{% endblock %}

