{% extends "enalyzing/skeleton.html" %}
{% block enalyzing %}

<h1>Step 2. Filter Model Entities</h1>

<div id="loading"><i class="fa fa-spinner w3-spin"></i> loading network &mdash; this may take a few minutes for very large models</div>

<div id="error" class="w3-container w3-red w3-padding"></div>

<div id="filtercontainer" style="display:none">
  <p>
  The following table displays the number of entities in your model, which
  <ul>
	  <li><strong>original:</strong> number of entities in the originally selected model</li>
	  <li><strong>filtered:</strong> number of entities in the model with applied filters</li>
	  <li><strong>inconsistent:</strong> entities that may need special attention when applying the current filter</li>
  </ul>
  </p>
  <table class="w3-table w3-bordered">
  <tr>
    <th></th>
    <th>original</th>
    <th>filtered</th>
    <th>inconsistent</th>
  </tr>
  <tr>
    <th>species</th>
    <td id="s_org"></td>
    <td id="s_cur"></td>
    <td id="s_inconsistent"></td>
  </tr>
  <tr>
    <th>reactions</th>
    <td id="r_org"></td>
    <td id="r_cur"></td>
    <td id="r_inconsistent"></td>
  </tr>
  <tr>
    <th>genes</th>
    <td id="g_org"></td>
    <td id="g_cur"></td>
    <td id="g_inconsistent"></td>
  </tr>
  </table>

  <h2>Reduce Model Size</h2>

  <p>
    You can now discard a subset of the model's entities (species, reactions, or genes) to reduce the model size.
    With the reduced model you can for example concentrate on FBA results or simulate knock out experiments.
    Filtering a model may decrease subsequent computations dramatically.
  </p>


  <div class="w3-bar  w3-white w3-border">
    <div class="w3-bar-item w3-hide-small">Filter:</div>
    <button id="filter-species-tab" class="w3-bar-item w3-button" onclick="tab('filter-species', 'filter-species-tab')">Species</button>
    <button id="filter-reaction-tab" class="w3-bar-item w3-button" onclick="tab('filter-reaction', 'filter-reaction-tab')">Reaction</button>
    <button id="filter-gene-tab" class="w3-bar-item w3-button" onclick="tab('filter-gene', 'filter-gene-tab')">Gene</button>
    <button id="filter-batch-tab" class="w3-bar-item w3-button" onclick="tab('filter-batch', 'filter-batch-tab')">Batch</button>
  </div>


    <div id="filter-tables" class="w3-margin">
      <div id="filter-species" class="w3-responsive" style="display:none">
		<p>You may sort the following table by clicking on the header cell.</p>
        <p>A red row indicates, that the corresponding species does not participate in any reaction anymore, so you may want to exclude it as well? If uncheck a species, it will not be removed from the entire model, but it will be removed from all reactions (it may still be used in other entities, such as functions or triggers). However, there may be ghost species afterwards, not participating in any reaction.</p>
        <table class="w3-table w3-striped sortable notfirst">
           <thead>
             <th>include <i class='fas fa-sort'></i></th>
             <th>ID <i class='fas fa-sort'></i></th>
             <th>Name <i class='fas fa-sort'></i></th>
             <th>Occurences <i class='fas fa-sort'></i></th>
           </thead>
           <tbody id="species-table"></tbody>
        </table>
      </div>
      <div id="filter-reaction" class="w3-responsive" style="display:none" class="">
		<p>You may sort the following table by clicking on the header cell.</p>
        <p>A red row indicates, that your filter would keep the reaction in the model, but some (or all) of it's species and/or all associated genes were removed. So the reaction may be wrong afterwards, and you may want to exclude the reaction as well? If you export the <em>reaction network</em> and you removed all it's species, the reaction will be removed as well. If you export the <em>enzyme network,</em> the reaction will be removed if all it's species are removed or all it's genes are removed.</p>
        <table class="w3-table w3-striped sortable notfirst">
           <thead>
             <th>include <i class='fas fa-sort'></i></th>
             <th>ID <i class='fas fa-sort'></i></th>
             <th>Name <i class='fas fa-sort'></i></th>
             <th>In <i class="fas fa-arrow-right"></i> Out <i class='fas fa-sort'></i></th>
             <th>Genes <i class='fas fa-sort'></i></th>
           </thead>
           <tbody id="reaction-table"></tbody>
        </table>
      </div>
      <div id="filter-gene" class="w3-responsive" style="display:none" class="">
		<p>You may sort the following table by clicking on the header cell.</p>
        <p>A red gene indicates, that the gene is not used in any reaction anymore. Thus, it will be excluded even if you keep it selected here!</p>
        <table class="w3-table w3-striped sortable notfirst">
           <thead>
             <th>include <i class='fas fa-sort'></i></th>
             <th>ID <i class='fas fa-sort'></i></th>
           </thead>
           <tbody id="gene-table"></tbody>
        </table>
      </div>
      <div id="filter-batch" style="display:none" class="">
	<p>
	  Use the following text area to automatically alter the filtering.
	  Every line begins with an entity identifier (species, reactions, genes), followed by a colon (:) and a comma seperated list of identifiers:
	</p>
        <textarea id="batch-filter" rows="20">
        </textarea>
	<button id="batch-button" class="w3-btn w3-flat-silver">apply batch</button>
      </div>
    </div>

</div>

<script>
  token = '{{ csrf_token }}';
  loadNetwork ();
</script>
{% endblock %}

