{% extends "enalyzing/skeleton.html" %}
{% block enalyzing %}

<h1>Step 2. Filter Model Entities</h1>

<div id="loading"><i class="fa fa-spinner w3-spin"></i> loading network</div>

<div id="error" class="w3-container w3-red w3-padding"></div>

<div id="filtercontainer" style="display:none">
  <p>
  Your model's <i>complexity</i> can be described by the following number of entities:
  </p>
  <table class="w3-table w3-bordered">
  <tr>
    <th>entity</th>
    <th>original</th>
    <th>filtered</th>
    <th>inconsistent</th>
  </tr>
  <tr>
    <th>species</th>
    <td id="s_org"></td>
    <td id="s_cur"></td>
    <td id="s_inconsistent"></td>
  </tr>
  <tr>
    <th>reactions</th>
    <td id="r_org"></td>
    <td id="r_cur"></td>
    <td id="r_inconsistent"></td>
  </tr>
  <tr>
    <th>genes</th>
    <td id="g_org"></td>
    <td id="g_cur"></td>
    <td id="g_inconsistent"></td>
  </tr>
  </table>

  <h2>Reduce Model Size</h2>

  <p>
    You can now discard a subset of model entities to reduce the model size .
    With the reduced model you can for example concentrate on FBA results or knock out experiments.
    Filtering a model may decrease subsequent computations dramatically.
  </p>


  <div class="w3-bar w3-flat-silver">
    <div class="w3-bar-item w3-hide-small">Filter:</div>
    <button id="filter-species-tab" class="w3-bar-item w3-button w3-flat-clouds" onclick="tab('filter-species', 'filter-species-tab')">Species</button>
    <button id="filter-reaction-tab" class="w3-bar-item w3-button" onclick="tab('filter-reaction', 'filter-reaction-tab')">Reaction</button>
    <button id="filter-gene-tab" class="w3-bar-item w3-button" onclick="tab('filter-gene', 'filter-gene-tab')">Gene</button>
    <button id="filter-batch-tab" class="w3-bar-item w3-button" onclick="tab('filter-batch', 'filter-batch-tab')">Batch</button>
  </div>

<p>You may sort the following table by clicking on the header cell.</p>

    <div id="filter-tables" class="w3-margin">
      <div id="filter-species" class="w3-responsive">
        <table class="w3-table w3-striped sortable notfirst">
           <thead>
             <th>include</th>
             <th>ID</th>
             <th>Name</th>
             <th>Occurences</th>
           </thead>
           <tbody id="species-table"></tbody>
        </table>
        <p>A red row indicates, that the corresponding species does not participate in any reaction anymore, so you may want to exclude it as well. If you remove a species, it will not be removed from the entire model, but it will be removed from all reactions (it may still be used in other enitites). thus, there may be ghost species, not participating in any reaction.</p>
      </div>
      <div id="filter-reaction" class="w3-responsive" style="display:none" class="">
        <table class="w3-table w3-striped sortable notfirst">
           <thead>
             <th>include</th>
             <th>ID</th>
             <th>Name</th>
             <th>In <i class="fas fa-arrow-right"></i> Out</th>
             <th>Genes</th>
           </thead>
           <tbody id="reaction-table"></tbody>
        </table>
        <p>A red row indicates, that your filter would keep the reaction in the model while some (or all) of it's species  and/or associated genes were removed. If you export the chemical reaction network, this reaction (and it's kinetic laws etc) will only be removed if all it's species are removed. If you export the enzyme network, it will be removed if all it's species are removed or all it's genes are removed.</p>
      </div>
      <div id="filter-gene" class="w3-responsive" style="display:none" class="">
        <table class="w3-table w3-striped sortable notfirst">
           <thead>
             <th>include</th>
             <th>ID</th>
           </thead>
           <tbody id="gene-table"></tbody>
        </table>
        <p>A red gene indicates, that the gene is not used in the model anymore. Thus, it will be excluded even if you keep it selected here.</p>
      </div>
      <div id="filter-batch" style="display:none" class="">
        <textarea id="batch-filter" rows="20">
species: []
reactions: []
genes: []
        </textarea>
      </div>
    </div>

</div>

<script>
  token = '{{ csrf_token }}';
  loadNetwork ();
</script>
DELETE MY MODEL AND SELECT A NEW ONE
{% endblock %}

