{% extends "base.html" %}
{% block title %}
imprint
{% endblock %}
{% block content %}

<h1>Imprint</h1>

<h3>Website Vendor</h3>
<p>
<a href="https://www.sbi.uni-rostock.de/scharm">Dr. Martin Scharm</a><br>
Dept. of Systems Biology and Bioinformatics<br>
University of Rostock
</p>

<h3>Contact</h3>
<p>
Dr. Martin Scharm<br>
Ulmenstrasse 69<br>
18057 Rostock<br>
Germany
</p>
<p>
Telephone: +49 381 498-7574<br>
Web: <a href="https://www.sbi.uni-rostock.de">sbi.uni-rostock.de</a>
</p>

<h3>Disclaimer</h3>
<h4>Accountability for content</h4>
<p>
	All the materials on these websites have been created with the utmost care, but are provided "as is".
	Thus, we cannot guarantee the contents' accuracy, completeness or reliability.
</p>
<h4>Accountability for links</h4>
<p>
	We carefully reviewed the links to external pages, but cannot take the responsibility for the content of external links (to web pages of third parties).
	The responsibility lies solely with the operators of the linked pages.
	Furthermore, the use of any linked website is at the user's own risk.
	At the time of linking, no violations were evident to us.
	Should any legal infringement become known to us, we will remove the respective link immediately.
</p>
<h4>Copyright</h4>
<p>
	Our web pages and their contents are subject to the German copyright law.
	However, we explicitly encourage reusage, reproduction, and and reutilisation under the terms of the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License</a> (code) or the <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> (text and media).
</p>

<div class="w3-padding w3-card w3-flat-clouds w3-margin" id="privacy">
	<h2>Privacy</h2>
</div>

{% endblock %}
