{% extends "base.html" %}
{% load static %}
{% block title %}
hello
{% endblock %}
{% block content %}
<!--
<h1>welcome, enalyzer!</h1>
-->
<div id="indexlogo">
<object data="{% static 'pics/gemtractor-landscape.svg' %}" type="image/svg+xml">
  <img src="{% static 'pics/gemtractor-landscape.png' %}" title="GEMtractor" alt="GEMtractor" />
</object>
</div>

<p>
  This is the <strong>GEMtractor.</strong> It supports you in analyzing genome-scale metabolic models (GEMs)!
</p>
<p>
  Choose an SBML model and it will help you to <strong>filter currency metabolites,</strong> to <strong>simulate knock out experiments,</strong> or to <strong>reduce the model size</strong> to e.g. focus on your flux balance results. And much more...
</p>
<p>
  You may then extract the protein-interaction-network from the concentrated model, and finally export you network in several formats for subsequent analyses.
</p>
<p>
  There is an API, so you may use the enalyzer from your programs. The analyzer is free software and also available as a Docker image. Thus, running your own analyzer is as easy as calling a single command line &mdash; including all the benefits, such as privacy and speed! Read more about the setup at ... TODO
</p>
<p>
  If you dare to give it a try, click <a href="{% url 'enalyzing:index' %}">enalyze</a> from the top panel.
</p>

{% endblock %}
