{% extends "base.html" %}
{% block title %}
hello
{% endblock %}
{% block content %}
<h1>welcome, enalyzer!</h1>
<p>This is the enalyzer. The <strong>E</strong>nzyme <strong>N</strong>etwork an<strong>ALYZER.</strong> :)</p>
<p>It supports you in analyzing enzyme networks.</p>
<p>Give it an SBML model and it will help you to <strong>filter currency metabolites,</strong> to <strong>simulate knock out experiments,</strong> or to <strong>reduce the model size</strong> to e.g. focus on your flux balance results. And much more...</p>
<p>There is an API, so you may use the enalyzer programmatically. The analyzer is free software and also available as a Docker image. Thus, running your own analyzer is as easy as calling a single command line &mdash; including all the benefits, such as privacy and speed! Read more about the setup at ... TODO</p>
<p>If you dare to give it a try, click <a href="{% url 'enalyzing:index' %}">enalyze</a> from the top panel.</p>

{% endblock %}
