{% extends "base.html" %}
{% load static %}
{% block title %}
Hello
{% endblock %}
{% block content %}
<div id="indexlogo">
<object data="{% static 'pics/gemtractor-landscape.svg' %}" type="image/svg+xml">
  <img src="{% static 'pics/gemtractor-landscape.png' %}" title="GEMtractor" alt="GEMtractor" />
</object>
</div>

<p>
  Welcome to the <strong>GEMtractor</strong> &mdash; a platform for trimming and extracting genome-scale metabolic models (GEMs)!
</p>
<p>
  The analyzations goes like this:
  <ol>
    <li><strong>Select an SBML model:</strong> Upload your model or choose a published model from BiGG Models or Biomodels.</li>
    <li><strong>Trim the model:</strong> Optionally delete (currency-)metabolites, reactions, genes, or enzyme complexes if you want to concentrate on a reduced version of the model.</li>
    <li><strong>Export the model:</strong> Optionally extract the enzyme-centric network before downloading the reduced model in different formats for subsequent analyses.</li>
  </ol>
</p>
<p>
  There is an <a href="{% url 'index:learn' %}#api">API</a>, so you may use the GEMtractor from your software tools. <strong>The GEMtractor is free software</strong> and also available as a Docker image. Thus, running your own GEMtractor is as easy as calling a single command line &mdash; including all the benefits, such as privacy and speed! Read more about the setup at <a href="{% url 'index:learn' %}#own-gemtractor">Run your own GEMtractor
</a>.
</p>
<p>
  If you dare to harvest your models, click <a href="{% url 'gemtract:index' %}">Start</a> from the top panel.
</p>
<p id="mobile-warning" style="display:none">
  You seem to be using a mobile device? <strong>Please be aware, that there may be quite some data shipped through the network.</strong>
  So be careful on metered connections!
</p>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || window.screen.width < 1000) {
  $("#mobile-warning").show();
}
</script>
{% endblock %}
