{% extends "base.html" %}
{% load static %}
{% block title %}
Learn
{% endblock %}
{% block content %}
<h1>Documentation of the GEMtractor</h1>

<ul>
	<li><a href="#faq">Frequently asked questions</a></li>
	<li><a href="#api">Use the GEMtractor API</a></li>
	<li><a href="#own-gemtractor">Run your own GEMtractor</a></li>
</ul>





<div class="w3-padding w3-card w3-flat-clouds w3-margin">
  <div class=" anchor-heading">
    <a name="faq" id="faq"></a>
    <h2>Frequently asked and invented questions</h2>
  </div>
  <ul>
    <li><a href="#model-support">Which type of models does the GEMtractor support?</a></li>
    <li><a href="#gene-association">How does the GEMtractor identify enzymes that are associated to a reaction?</a></li>
    <li><a href="#gene-names">Why do enzymes have such a strange name?</a></li>
    <li><a href="#no-gene-name">What if no enzyme is associated to a reaction?</a></li>
    <li><a href="#filter-species">What exactly happens when I remove a species during filtering?</a></li>
    <li><a href="#filter-reaction">What exactly happens when I remove a reaction during filtering?</a></li>
    <li><a href="#filter-gene">What exactly happens when I remove an enzyme during filtering?</a></li>
    <li><a href="#filter-enzyme-complex">What exactly happens when I remove an enzyme complex during filtering?</a></li>
    <li><a href="#enzyme-complex">What is an enzyme complex?</a></li>
    <li><a href="#batch-filter">How does the batch filtering work?</a></li>
    <li><a href="#what-currency-metabolites"></a>What are currency metabolites?</li>
    <li><a href="#currency-metabolites">How can i discard currency metabolites (such as H<sup>+</sup>, H<sub>2</sub>O or ATP)?</a></li>
    <li><a href="#which-biomodels">How did the GEMtractor select the models from Biomodels?</a></li>
    <li><a href="#which-bigg">How did the GEMtractor select the models from BiGG?</a></li>
    <li><a href="#stored-data">Which data does the GEMtractor store on the server?</a></li>
    <li><a href="#cookies">Why am I always redirected back to model selection?</a></li>
    <li><a href="#ein-sense">Does it make sense to extract the enzyme interaction network?</a></li>
    <li><a href="#export-options">What are the different export options?</a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#clear-data">How can I clear my data?</a></li>
    <li><a href="#source">Can I look inside the GEMtractor?</a></li>
    <li><a href="#modify-settings">How can I modify the default settings?</a></li>
  </ul>
  
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="model-support" id="model-support"></a>
			<h3>Which type of models does the GEMtractor support?</h3>
		</div>
		<p>
            The GEMtractor supports only models encoded using the <a href="https://sbml.org/">Systems Biology Markup Language (SBML) format</a>.
            SBML is a standard format for computer models of biological processes, based on XML.
            You can find many example models at <a href="https://www.ebi.ac.uk/biomodels/">Biomodels</a> or at <a href="http://bigg.ucsd.edu/">BiGG Models</a>.
        </p>
	</div>
  
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="gene-association" id="gene-association"></a>
			<h3>How does the GEMtractor identify enzymes that are associated to a reaction?</h3>
		</div>
		<p>
		  enzymes are based on genes -> gene products
            We currently support two formats of gene associations:
            The legacy SBML-notes annotations, and well-structured annotations using the
            <a href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/fbc">FBC package</a> in SBML Level 3 documents.
        </p>
		<p>
            An example of legacy SBML-notes annotations from <a href="https://www.ebi.ac.uk/biomodels/MODEL1011080003">MODEL1011080003</a>, which encodes for
            <small><code>438  or  330</code></small>:
        </p>
<pre>
&lt;reaction id="R_METSR_S1" [...]&gt;
	&lt;notes&gt;
		&lt;html:p&gt;<strong>GENE_ASSOCIATION: ( 438  or  330 )</strong>&lt;/html:p&gt;
		&lt;html:p&gt;PROTEIN_ASSOCIATION: MsrA&lt;/html:p&gt;
		&lt;html:p&gt;SUBSYSTEM: S_Amino_Acid_Metabolism&lt;/html:p&gt;
		&lt;html:p&gt;PROTEIN_CLASS:&lt;/html:p&gt;
	&lt;/notes&gt;
	[...]
&lt;/reaction&gt;
</pre>
		<p>
            An example of a well-structured gene associations using FBC from <a href="http://bigg.ucsd.edu/models/e_coli_core">e_coli_core</a>which encodes for
            <small><code>(G_b3738 and G_b3736 and G_b3737 and G_b3735 and G_b3733 and G_b3731 and G_b3732 and G_b3734) or (G_b3734 and G_b3732 and G_b3731 and G_b3733 and G_b3735 and G_b3737 and G_b3736 and G_b3738 and G_b3739)</code></small>:
        </p>
<pre>
&lt;reaction id="R_ATPS4r" [...]&gt;
	[...]<strong>
	&lt;fbc:geneProductAssociation
	  xmlns:fbc="http://www.sbml.org/sbml/level3/version1/fbc/version2"&gt;
	  &lt;fbc:or sboTerm="SBO:0000174"&gt;
		&lt;fbc:and sboTerm="SBO:0000173"&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3738" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3736" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3737" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3735" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3733" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3731" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3732" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3734" /&gt;
		&lt;/fbc:and&gt;
		&lt;fbc:and sboTerm="SBO:0000173"&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3734" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3732" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3731" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3733" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3735" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3737" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3736" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3738" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3739" /&gt;
		&lt;/fbc:and&gt;
	  &lt;/fbc:or&gt;
	&lt;/fbc:geneProductAssociation&gt;</strong>
	[...]
&lt;/reaction&gt;
</pre>
	</div>
  
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="gene-names" id="gene-names"></a>
			<h3>Why do enzymes have such a strange name?</h3>
		</div>
		<p>
            The enzyme names used by the GEMtractor are actually the enzyme's identifiers, typically generated by some kind of software.
            They are often just numbered with a optional prefix (such as g1, g2, g3 etc).
            See also <a href="#no-gene-name">What if no enzyme is associated to a reaction?</a>
        </p>
		<p>TODO: add mouseover for gene ids if FBC annotations are available, ass mouseover if the gene name is actually the reaction id because we didn't find a gene name</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="no-gene-name" id="no-gene-name"></a>
			<h3>What if no enzyme is associated to a reaction?</h3>
		</div>
		<p>
            If the GEMtractor cannot find a gene-association, it assumes there is only a single gene and gives it the id of the reaction prefixed with <code>"reaction_"</code>.
            See also <a href="#gene-association">How does the GEMtractor identify enzymes that are associated to a reaction?</a>
        </p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="filter-species" id="filter-species"></a>
			<h3>What exactly happens when I remove a species during filtering?</h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="filter-reaction" id="filter-reaction"></a>
			<h3>What exactly happens when I remove a reaction during filtering?</h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="filter-gene" id="filter-gene"></a>
			<h3>What exactly happens when I remove an enzyme during filtering?</h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="filter-enzyme-complex" id="filter-enzyme-complex"></a>
			<h3>What exactly happens when I remove an enzyme complex during filtering?</h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="enzyme-complex" id="enzyme-complex"></a>
			<h3>What is an enzyme complex?</h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="batch-filter" id="batch-filter"></a>
			<h3>How does the batch filtering work?</h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="what-currency-metabolites" id="what-currency-metabolites"></a>
			<h3>What are currency metabolites?</h3>
		</div>
		<p>
		  See also <a href="#currency-metabolites">How can i discard currency metabolites (such as H<sup>+</sup>, H<sub>2</sub>O or ATP)</a>
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="currency-metabolites" id="currency-metabolites"></a>
			<h3>How can i discard currency metabolites (such as H<sup>+</sup>, H<sub>2</sub>O or ATP)?</h3>
		</div>
		<p>
		  The tables listing the enitities on the filter page are sortable.
		  Thus, you can click the header cell of a column to sort it ascending &mdash; if you click it again, the column will be sorted descending.
		</p>
		<p>
            If you want to discard currency metabolites, you can sort the species table by the occurences.
            This will bring the currency metabolites to the top of the page, making it easy to get rid of them, as shown in this screen shot:
            <img src="{% static 'pics/screenshot-currency-metabolites.png' %}" class="w3-image w3-padding" alt="image of a sorted species table">
	    See also <a href="#what-currency-metabolites">What are currency metabolites?</a>
        </p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="which-biomodels" id="which-biomodels"></a>
			<h3>How did the GEMtractor select the models from Biomodels?</h3>
		</div>
		<p>subset of the search for "genome scale metabolic model" (with approximately 7000 results!)</p>
		<p>however, you can choose basically any model from biomodels by pasting the model id in the input field</p>
		<p>some models do not work, as the gene associations prior to SBML level 3 was just encoding in free text, which is error-prone and often went wrong</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="which-bigg" id="which-bigg"></a>
			<h3>How did the GEMtractor select the models from BiGG?</h3>
		</div>
		<p>
		  The table at the model-selection tab basically lists all available models from <a href="http://bigg.ucsd.edu/models">BiGG Models</a>.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="stored-data" id="stored-data"></a>
			<h3>Which data does the GEMtractor store on the server?</h3>
		</div>
		<p>
		  If accessed through a webserver, it stores the uploaded model (or the model downloaded from bigg or biomodels) and some session related settings.
		  To see what the GEMtractor stores about you and how to delete the data it stores head over to the <a href="{% url 'index:imprint' %}#privacy">privacy policy</a>.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="cookies" id="cookies"></a>
			<h3>Why am I always redirected back to model selection?</h3>
		</div>
		<p>
		  You probably do not accept cookies..?
		  The GEMtractor uses sessions to store your settings.
		  These sessions rely on a cookie in your browser.
		  If the GEMtractor doesn't know which model you selected, it won't let you do for filtering or exporting...
		  So you'll always be redirected to model selection.
		</p>
		<p>
		  To learn more on what's stored in your session have a look into the <a href="{% url 'index:imprint' %}#privacy">privacy policy</a>.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="ein-sense" id="ein-sense"></a>
			<h3>Does it make sense to extract the enzyme interaction network?</h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="export-options" id="export-options"></a>
			<h3>What are the different export options?</h3>
		</div>
		<p>
		  those are the options....
		  TODO:
		  explain difference between the types "reaction network" and "enzyme network"
		  explain formats
		  and strange check boxes
		  also explain that it may take some seconds to generate the desired file
		  also explain that there may be ghost species
		</p>
		<p>
		  keep the following things in mind:
		  * if you export EN as SBML, we'll implicitely create "reactions", which are not really existent... they just indicate links between genes, and thus every reactions consumes exactly one gene and produces exactly one gene.
		  * filter for sub-complexes
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="" id=""></a>
			<h3></h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="" id=""></a>
			<h3></h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="" id=""></a>
			<h3></h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="clear-data" id="clear-data"></a>
			<h3>How can I clear my data?</h3>
		</div>
		<p>
		  To see what the GEMtractor stores about you and how to delete the data it stores head over to the <a href="{% url 'index:imprint' %}#privacy">privacy policy</a>.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="source" id="source"></a>
			<h3>Can I look inside the GEMtractor?</h3>
		</div>
		<p>
		  Sure - the GEMtractor is free software! :)
		</p>
		<p>
		  We develop the source code at an internal repository, but automatically push updates to the <a href="https://github.com/binfalse/gemtractor">GitHub at binfalse:GEMtractor</a>.
		  We are looking forward for your code contributions, bug reports, and feature requests :)
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white w3-margin">
		<div class=" anchor-heading">
			<a name="modify-settings" id="modify-settings"></a>
			<h3>How can I modify the default settings?</h3>
		</div>
		<p>
		  The settings of the GEMtractor are controlled through environment variables on the server.
		  Thus, you can only change the settings, when running your own GEMtractor server!
		  Just scroll down to learn how to <a href="#own-gemtractor">run your own GEMtractor</a> &mdash; it's pretty easy.
		</p>
	</div>

</div>

<div class="w3-padding w3-card w3-flat-clouds w3-margin">
  <div class=" anchor-heading">
    <a name="api" id="api"></a>
    <h2>Use the GEMtractor API</h2>
  </div>
  
  <div class="w3-padding w3-card w3-white w3-margin">
    <h3>Send Job as JSON</h3>
    <p>
      The API is listening at <code>URL/api/execute</code> &mdash; it expects a job encoded as JSON and sent via HTTP POST, such as this:
    </p>
    
    <pre>
  {
    "export": {
      "network_type":"mn",
      "network_format":"sbml",
      "remove_reaction_enzymes_removed": False,
      "remove_reaction_missing_species": True
    },
    "filter": {
      "species": ["h2o", "atp"],
      "reactions": [],
      "enzymes": ["gene_abc"],
      "enzyme_complexes": ["a + b + c", "x + Y", "b_098 + r_abc"],
    },
    "file": "&lt;sbml&gt;...&lt;/sbml&gt;"
  }
    </pre>
    
    <h4>Keys of the job's JSON object</h4>
    <h6>export</h6>
    <p>
      The key <code>export</code> is required, and it must encode for a JSON object containing the following keys:
      <ul>
	<li><code>network_type</code>: String <code>"en"</code> or <code>"mn"</code> &mdash; do you just want the filtered metabolic network (<code>"mn"</code>), or should the GEMtractor return the extracted enzyme network (<code>"en"</code>)?</li>
	<li><code>network_format</code>: String <code>"sbml"</code>, <code>"graphml"</code>, <code>"gml"</code>, or <code>"dot"</code> &mdash; how should the returned network be encoded?</li>
	<li><code>remove_reaction_enzymes_removed</code>: Boolean &mdash; remove reactions, whose enzymes were all removed? (Optional, defaults to <code>true</code>)</li>
	<li><code>remove_reaction_missing_species</code>: Boolean &mdash; remove reactions, in which at least one species was removed? That is, if you remove a species from a reaction, should the GEMtractor also remove the whole reaction? (Optional, defaults to <code>false</code>)</li>
      </ul>
      Scroll up to learn more about the <a href="#export-options">export options</a>.
    </p>
    <h6>filter</h6>
    <p>
      The key <code>filter</code> is optional.
      You just need to provide it, if you want to get rid of some items in the model.
      If provided, it may contain the following keys:
      
      <ul>
	<li><code>species</code>: List of species-identifiers to remove from reactions.</li>
	<li><code>reactions</code>: List of reaction-identifiers to remove from the model.</li>
	<li><code>enzymes</code>: List of gene-identifiers to remove from reactions.</li>
	<li><code>enzyme_complexes</code>: List of enzyme-complex-identifiers to remove from reactions. Every item must contain a string of enzymes in the corresponing enzyme complex joined with the string <code>" + "</code>code>. Thus, if you want to remove the complex formed by the enzymes <code>A23</code> and <code>B_42</code>, you would add <code>"A23 + B_42"</code> to this list.</li>
      </ul>
      
      Every list element is supposed to be a string, which corresponds to the <code>id</code> attribute of the SBML entity.
      However, every list can also be empty.
    </p>
    <h6>file</h6>
    <p>
      The key <code>file</code> is required.
      It must contain the raw SBML code of your input model, including the <code>&lt;?xml version="1.0" encoding="UTF-8"?&gt;</code> prefix.
    </p>
  </div>
  
  <div class="w3-padding w3-card w3-white w3-margin">
    <h3>Expect a response</h3>
    <p>
      Reading, filtering, converting, and exporting may of course take some time, but if the GEMtractor finishes successfullty it will return with an <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success">HTTP response status 200</a> and immeditaly serve the exported content.
    </p>
    <p>
      If the GEMtractor was not successful, you'll get an HTTP status other than 200, for example:
      <ul>
	<li><code>400</code>: Your request was bad, for example the JSON was not well formed or is missing a required key, or the supplied model is not valid SBML.</li>
	<li><code>302</code>: You forgot to send the job as POST data. You'll, thus, be redirected to this section to lear how to fire a job :)</li>
	<li><code>500</code>: There was a problem on the server, eg. we could not generate the desired file.</li>
      </ul>
      The responded content may give you some hint on what went wrong.
    </p>
  </div>
  
  
  <div class="w3-padding w3-card w3-white w3-margin">
    <h3>Use in your application</h3>
    <p>
      It should be possible to integrate the GEMtractor in any application.
      Some example clients for different languages are supplied with the source code.
      Just have a look into the <a href="https://github.com/binfalse/GEMtractor/tree/master/clients">GitHub repository at binfalse:GEMtractor/clients</a>.
    </p>
  </div>
</div>

<div class="w3-padding w3-card w3-flat-clouds w3-margin">
  <div class=" anchor-heading">
    <a name="own-gemtractor" id="own-gemtractor"></a>
    <h2>Run your own GEMtractor</h2>
  </div>
  <p>
-> easy setup with advanced privace
we may restart the service at any time, so be quick filtering ;-)
  </p>
</div>
{% endblock %}
