{% extends "base.html" %}
{% load static %}
{% block title %}
Learn
{% endblock %}
{% block content %}
<h1>Documentation of the GEMtractor</h1>

<ul>
	<li><a href="#faq">Frequently asked questions</a></li>
	<li><a href="#api">Use the GEMtractor API</a></li>
	<li><a href="#own-gemtractor">Run your own GEMtractor</a></li>
</ul>





<div  class="w3-card w3-flat-clouds w3-margin-top">
  <div class="w3-padding">
    <div class=" anchor-heading">
      <a name="faq" id="faq"></a>
      <h2>Frequently asked and invented questions</h2>
    </div>
    <ul>
      <li><a href="#enzyme-reaction-diff">What's the difference between enzyme-centric and reaction-centric?</a></li>
      <li><a href="#ein-sense">Does it make sense to extract the enzyme-centric network?</a></li>
      <li><a href="#model-support">Which type of models does the GEMtractor support?</a></li>
      <li><a href="#gene-association">How does the GEMtractor identify enzymes that are associated to a reaction?</a></li>
      <li><a href="#gene-names">Why do enzymes have such a strange name?</a></li>
      <li><a href="#no-gene-name">What if no enzyme is associated to a reaction?</a></li>
      <li><a href="#filter-species">What exactly happens when I remove a species during filtering?</a></li>
      <li><a href="#red-species">Why is a certain species highlighted in red?</a></li>
      <li><a href="#filter-reaction">What exactly happens when I remove a reaction during filtering?</a></li>
      <li><a href="#red-reaction">Why is a certain reaction highlighted in red?</a></li>
      <li><a href="#filter-gene">What exactly happens when I remove an enzyme during filtering?</a></li>
      <li><a href="#red-gene">Why is a certain enzyme highlighted in red?</a></li>
      <li><a href="#filter-enzyme-complex">What exactly happens when I remove an enzyme complex during filtering?</a></li>
      <li><a href="#red-enzyme-complex">Why is a certain enzyme complex highlighted in red?</a></li>
      <li><a href="#enzyme-complex">What is an enzyme complex?</a></li>
      <li><a href="#batch-filter">How does the batch filtering work?</a></li>
      <li><a href="#waiting">Why does it take so long?</a></li>
      <li><a href="#what-currency-metabolites">What are currency metabolites?</a></li>
      <li><a href="#currency-metabolites">How can I discard currency metabolites (such as H<sup>+</sup>, H<sub>2</sub>O or ATP)?</a></li>
      <li><a href="#which-biomodels">How did the GEMtractor select the models from Biomodels?</a></li>
      <li><a href="#which-bigg">How did the GEMtractor select the models from BiGG?</a></li>
      <li><a href="#stored-data">Which data does the GEMtractor store on the server?</a></li>
      <li><a href="#cookies">Why am I always redirected back to model selection?</a></li>
      <li><a href="#export-options">What are the different export options?</a></li>
      <li><a href="#wrong-directions">Aren't the directions wrong?</a></li>
      <li><a href="#wording">Enzyme or Gene? Species or Metabolite?</a></li>
      <li><a href="#clear-data">How can I clear my data?</a></li>
      <li><a href="#source">Can I look inside the GEMtractor?</a></li>
      <li><a href="#modify-settings">How can I modify the default settings?</a></li>
<!--
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
-->
    </ul>
  </div>
  
	<div class="w3-padding w3-card w3-white learn-entry">
	  <div class=" anchor-heading">
		  <a name="enzyme-reaction-diff" id="enzyme-reaction-diff"></a>
		  <h3>What's the difference between an Enzyme-centric and a Reaction-centric Network?</h3>
	  </div>
	  <p>
	    Let's have a look at the following <em>Metabolite-Reaction Network,</em> which is a <em><a href="https://en.wikipedia.org/wiki/Multipartite_graph">tripartite graph</a></em> consisting of tree types of nodes: Six metabolites (<code>A</code>, <code>B</code>, <code>C</code>, <code>D</code>, <code>E</code>, and <code>F</code>) interact in four reactions (<code>r</code>, <code>s</code>, <code>t</code>, and <code>u</code>) that are catalyzed by six enzymes or enzyme complexes (<code>L</code>, <code>M</code>, <code>N</code>, <code>P+O</code>, <code>Q</code>, and <code>Q+R</code>):  
	  </p>
	  <div class="learn-image">
            <img src="{% static 'pics/sbgn/mr-network-example.png' %}" class="w3-image w3-padding learn-image-network" alt="Example of a Metabolite-Reaction Network">
	  </div>
	  <p>
	    Here for example, the reaction <code>r</code> transforms <code>A</code> into <code>B</code> and this process is catalyzed by the enzyme <code>L</code>.
	    Similarly, <code>s</code> consumes <code>A</code> and <code>B</code> to produce <code>C</code>.
	    This reaction <code>s</code> is catalyzed by <code>L</code> or <code>M</code> or <code>Q+R</code>.
	  </p>
	  <p>From this <em>Metabolite-Reaction Network</em> we can extract the <em>Reaction-centric Network</em>, which is a <em>unipartite graph</em> &mdash; all its nodes are of the same type:</p>
	  <div class="learn-image">
            <img src="{% static 'pics/sbgn/rc-network-example.png' %}" class="w3-image w3-padding learn-image-network" alt="Example of a Reaction-centric Network">
	  </div>
	  <p>
	    Here, an arrow between two reactions indicates, that there is at least one species which is produced by the source of the arrow and consumed by the target of the arrow.	    
	    For example, <code>s</code> is linked to <code>t</code>, because <code>s</code> produces a metabolite (<code>C</code>) that is consumed by <code>t</code>.
	    And similarly, every reaction that produces <code>D</code> (<code>r</code> and <code>u</code>) is linked to every reaction that consumes <code>D</code> (<code>t</code>), resulting in the two edges <code>r&#8594;t</code> and <code>u&#8594;t</code>.
	  </p>
	  <p>Furthermore, we can extract the <em>Enzyme-centric Network</em>, which is again a <em>unipartite graph</em> as its nodes represent enzymes:</p>
	  <div class="learn-image">
            <img src="{% static 'pics/sbgn/ec-network-example.png' %}" class="w3-image w3-padding learn-image-network" alt="Example of an Enzyme-centric Network">
	  </div>
	  <p>
	    Based on the <em>Reaction-centric Network</em> every node and its edges is cloned according to the alternative enzymes that catalyze the corresponding reaction.
	    For example, <code>s</code> is linked from <code>u</code> and is linked to <code>t</code>.
	    As <code>s</code> is catalyzed by <code>L</code> or <code>M</code> or <code>Q+R</code>, it is unfolded into three nodes, each receiving a link from <code>u</code> and a link to <code>t</code>.
	    The reaction <code>t</code> is catalyzed by <code>N</code> exclusively, so it's basically just replaced.
	    Eventually, we'll find a link from each of <code>L</code>, <code>M</code>, and <code>Q+R</code> to <code>N</code>.
	  </p>
	  <p>
	    Did you notice, that the topology of the <em>Enzyme-centric Network</em> differs a lot from the topology of the <em>Reaction-centric Network</em>?
	    We think it's worth analyzing that :)
	  </p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="ein-sense" id="ein-sense"></a>
			<h3>Does it make sense to extract the enzyme-centric network?</h3>
		</div>
		<p></p>
	</div>
  
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="model-support" id="model-support"></a>
			<h3>Which type of models does the GEMtractor support?</h3>
		</div>
		<p>
            The GEMtractor supports models encoded using the <a href="https://sbml.org/">Systems Biology Markup Language (SBML) format</a>.
            SBML is a standard format for computer models of biological processes.
            You can find many example models at <a href="https://www.ebi.ac.uk/biomodels/">Biomodels</a> or at <a href="http://bigg.ucsd.edu/">BiGG Models</a>.
        </p>
	</div>
  
	<div class="w3-padding w3-card w3-white learn-entry">
	  <div class=" anchor-heading">
		  <a name="gene-association" id="gene-association"></a>
		  <h3>How does the GEMtractor identify enzymes that are associated to a reaction?</h3>
	  </div>
	  <p>
	    Enzymes are based on genes, they are the gene's products.
	    The GEMtractor currently supports two formats of gene associations in SBML documents:
            The legacy SBML-notes annotations, and well-structured annotations using the
            <a href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/fbc">FBC package</a> in SBML Level 3 documents.
        </p>
		<p>
            An example of legacy SBML-notes annotations from <a href="https://www.ebi.ac.uk/biomodels/MODEL1011080003">MODEL1011080003</a>, which encodes for the gene combination
            <small><code>438  or  330</code></small>:
        </p>
<pre>
&lt;reaction id="R_METSR_S1" [...]&gt;
	&lt;notes&gt;
		&lt;html:p&gt;<strong>GENE_ASSOCIATION: ( 438  or  330 )</strong>&lt;/html:p&gt;
		&lt;html:p&gt;PROTEIN_ASSOCIATION: MsrA&lt;/html:p&gt;
		&lt;html:p&gt;SUBSYSTEM: S_Amino_Acid_Metabolism&lt;/html:p&gt;
		&lt;html:p&gt;PROTEIN_CLASS:&lt;/html:p&gt;
	&lt;/notes&gt;
	[...]
&lt;/reaction&gt;
</pre>
		<p>
            An example of a well-structured gene associations from <a href="http://bigg.ucsd.edu/models/e_coli_core">e_coli_core</a> using FBC-annotations, which encodes for the gene combination
            <small><code>(G_b3738 and G_b3736 and G_b3737 and G_b3735 and G_b3733 and G_b3731 and G_b3732 and G_b3734) or (G_b3734 and G_b3732 and G_b3731 and G_b3733 and G_b3735 and G_b3737 and G_b3736 and G_b3738 and G_b3739)</code></small>:
        </p>
<pre>
&lt;reaction id="R_ATPS4r" [...]&gt;
	[...]<strong>
	&lt;fbc:geneProductAssociation
	  xmlns:fbc="http://www.sbml.org/sbml/level3/version1/fbc/version2"&gt;
	  &lt;fbc:or sboTerm="SBO:0000174"&gt;
		&lt;fbc:and sboTerm="SBO:0000173"&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3738" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3736" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3737" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3735" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3733" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3731" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3732" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3734" /&gt;
		&lt;/fbc:and&gt;
		&lt;fbc:and sboTerm="SBO:0000173"&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3734" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3732" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3731" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3733" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3735" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3737" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3736" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3738" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3739" /&gt;
		&lt;/fbc:and&gt;
	  &lt;/fbc:or&gt;
	&lt;/fbc:geneProductAssociation&gt;</strong>
	[...]
&lt;/reaction&gt;
</pre>
	<p>
            The GEMtractor then uses the identifiers of the gene-products to refer to enzymes.
	    Gene products that are combined using a logical&nbsp;<code>or</code> are assumed to be alternatives for a catalysis.
	    Gene products that are combined using a logical&nbsp;<code>and</code> are assumed to build an enzyme complex, in which all enzymes need to be present for a catalysis. Thus, a <code>geneProductAssociation</code> encoding for <code>a and (b or c)</code> means, that the reaction is catalysed by <code>a and b</code> or <code>a and c</code>.
        </p>
	</div>
  
	<div class="w3-padding w3-card w3-white learn-entry">
	  <div class=" anchor-heading">
		  <a name="gene-names" id="gene-names"></a>
		  <h3>Why do enzymes have such a strange name?</h3>
	  </div>
	  <p>
            The enzyme names used by the GEMtractor are actually the gene-products' identifiers as stated in the SBML document
	    Those are typically generated by some kind of software and often just numbered with a optional prefix (such as <code>g1</code>, <code>g2</code>, <code>g3</code>, or <code>b0116</code> etc).
	    To get more information about a certain enzyme, you need to look into the model's SBML code.
	    If you're lucky, the gene product is properly annotated and you'll find links to other resources describing the enzyme.
            See also <a href="#no-gene-name">What if no enzyme is associated to a reaction?</a>
	  </p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="no-gene-name" id="no-gene-name"></a>
			<h3>What if no enzyme is associated to a reaction?</h3>
		</div>
		<p>
            If the GEMtractor cannot find a gene-association, it assumes there is only a single gene and assigns it the identifier of the reaction prefixed with <code>"reaction_"</code>.
	    Thus, you can easily spot <em>fake</em> enzymes.
	    When exporting the model, you may also discard these invented enzymes.
            See also <a href="#gene-association">How does the GEMtractor identify enzymes that are associated to a reaction?</a>
        </p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="filter-species" id="filter-species"></a>
			<h3>What exactly happens when I remove a species during filtering?</h3>
		</div>
		<p>
		  Trimming the species of a model actually means <em>removing species from reactions.</em>
		  That is, trimmed species will not appear in any reaction anymore, but if you export the <em>Metabolite-Reaction Network</em>, they may still appear in the model (as they may still be required by other elements in the model).
		  We call these species <em>ghost species</em>.
		  When exporting your model, you will find an option to entirely remove such ghost species from the model.
		  See also <a href="#export-options">What are the different export options?</a>
		</p>
		<p>
		  If you remove a species from a network, all the reactions that consume or produce this species may now be invalid.
		  Thus, the reactions relying on a removed species will be highlighted in red in the <em>Reactions</em> tab, as you may want to re-evaluate these reactions.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="red-species" id="red-species"></a>
			<h3>Why is a certain species highlighted in red?</h3>
		</div>
		<p>
		  A species is highlighted in <span class="filter-inconsistent">red</span> if you trimmed all reaction in which it appeared.
		  So you may want to re-evaluate your filters or trim that species as well.
      In that case, a small info-icon  <i class='fas fa-info-circle' title='demo reason...'></i> will appear behind the species' identifier and you can move your mouse over that icon to get more information.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="filter-reaction" id="filter-reaction"></a>
			<h3>What exactly happens when I remove a reaction during filtering?</h3>
		</div>
		<p>
		  A trimmed reaction will disappear from the original model prior to subsequent conversions.
		  All species and enzymes linked to that reaction (as reactants, products, or gene-association) will be unlinked.
		  Thus, there may be species, enzymes and enzyme complexes, which do not appear in the model anymore.
		  Those left-overs will be highlighted in <span class="filter-inconsistent">red</span> to raise your attention, as you may want to re-evaluate your filters.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="red-reaction" id="red-reaction"></a>
			<h3>Why is a certain reaction highlighted in red?</h3>
		</div>
		<p>
		  There are two reasons why a reaction will be highlighted in <span class="filter-inconsistent">red</span>:
		  <ul>
		    <li>One of the species it consumes or produced is trimmed from the model &mdash; so the reaction may be invalid now.</li>
		    <li>All the enzymes or enzyme complexes required to catalyze this reactions are trimmed from the model, thus the reaction probably cannot take place anymore.</li>
		  </ul>
		  In both cases you should double check whether the reaction should still be included in the model.
      A small info-icon  <i class='fas fa-info-circle' title='demo reason...'></i> will appear behind the reaction's identifier and you can move your mouse over that icon to get more information about the reason for the inconsistency.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="filter-gene" id="filter-gene"></a>
			<h3>What exactly happens when I remove an enzyme during filtering?</h3>
		</div>
		<p>
		  If you trim an enzyme from your model, this enzyme will be removed from all reactions that it catalyzes.
		  This may result in the following inconsistencies:
		  <ul>
		    <li>A reaction looses all its enzymes and enzyme complexes (and probably won't take place anymore).</li>
		    <li>The enzyme is part of an enzyme complex &mdash; thus, you may also need to remove the complex.</li>
		  </ul>
		  The inconsistent reactions or enzyme complexes will be highlighted in <span class="filter-inconsistent">red</span> and you should re-evaluate your filters.
		</p>
		<p>
		  When exporting the model, you have the option to remove all reactions without enzymes and to remove complexes that lack an enzyme.
		  See also <a href="#export-options">What are the different export options?</a>
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="red-enzyme" id="red-enzyme"></a>
			<h3>Why is a certain enzyme highlighted in red?</h3>
		</div>
		<p>
		  An enzyme is highlighted in <span class="filter-inconsistent">red</span>, if your filters removed all reactions and enzyme complexes in which this enzyme participates.
		  Thus, it is not appearing in the model anymore and you may want to trim it as well.
		  A small info-icon  <i class='fas fa-info-circle' title='demo reason...'></i> will appear behind the enzyme's identifier and you can move your mouse over that icon to get more information about the reason for the inconsistency.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="filter-enzyme-complex" id="filter-enzyme-complex"></a>
			<h3>What exactly happens when I remove an enzyme complex during filtering?</h3>
		</div>
		<p>
		  If you trim an enzyme complex, it will be removed from all reactions that it catalyzes.
		  This may result in the following inconsistencies:
		  <ul>
		    <li>A reaction looses all its enzymes and enzyme complexes (and probably won't take place anymore).</li>
		    <li>An enzyme does not participate in any reaction or enzyme-complex anymore.</li>
		  </ul>
		</p>
		<p>
		  The inconsistent reactions or enzymes will be highlighted in <span class="filter-inconsistent">red</span>.
		</p>
		<p>
		  In addition, there may be an enzyme-complex superior to a trimmed complex &mdash; the trimmed enzyme complex consists of a set of enzymes, which is a subset of another enzyme complex.
		  Let's for example say you remove the enzyme complex <code>A+B</code> and there is another enzyme complex <code>A+B+C</code>.
		  It is very likely, that <code>A+B+C</code> is not possible if <code>A+B</code> is not possible.
		  However, we can think of inverse situations.
		  Thus, enzyme complexes are highlighted in <span class="filter-inconsistent filter-supercomplex">red-italics</span>, if any sub-complexes are trimmed.
		  So, if you remove <code>A+B</code>, then <code>A+B+C</code> will become red-italics.
		</p>
		<p>
		  When exporting the model, you have the option to remove all reactions without enzymes and to remove complexes that lack an enzyme.
		  See also <a href="#export-options">What are the different export options?</a>
		</p>
		  
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="red-enzyme-complex" id="red-enzyme-complex"></a>
			<h3>Why is a certain enzyme complex highlighted in red?</h3>
		</div>
		<p>
		  An enzyme complex will be highlighted in <span class="filter-inconsistent">red</span>, if it doesn't appear in any reaction anymore, or if one of it's enzymes was trimmed.
		  The enzyme complex will be highlighted in <span class="filter-inconsistent filter-supercomplex">red-italics</span>, if an sub-complex was trimmed.
		  For example, if you remove <code>A+B</code>, then <code>A+B+C</code> will become <span class="filter-inconsistent filter-supercomplex">red-italics</span>.
		  A small info-icon  <i class='fas fa-info-circle' title='demo reason...'></i> will appear behind the enzyme's identifier and you can move your mouse over that icon to get more information about the reason for the inconsistency.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="enzyme-complex" id="enzyme-complex"></a>
			<h3>What is an enzyme complex?</h3>
		</div>
		<p>
		  An enzyme complex is an enzyme, which consists of a complex of gene products.
		  So there may be two gene products <code>A</code> and <code>B</code> forming an enzyme complex <code>A+B</code>.
		  Nevertheless, <code>A</code> and <code>B</code> may as well catalyze reactions as individual enzymes.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="batch-filter" id="batch-filter"></a>
			<h3>How does the batch filtering work?</h3>
		</div>
		<p>
		  We implemented batch filtering to support you in automatic filtering without implementing an API client.
		  If you for example have a list of species, that you want to exclude according to your FBA result, you can just dump this list as comma-separated values and copy it to the batch text-field.
		  Thus, you may save a lot of clicks compared to deselecting every species individually.
		</p>
		<p>
		  The text-field expects four lines, each starting with either <code>species</code>, <code>reactions</code>, <code>enzymes</code>, or <code>enzyme_complexes</code>, followed by a color (<code>:</code>) and the list of comma-separated entity-identifiers.
		  Applying the batch-filter will send the lists to the backend, where they will stored in your session, and reload the page to update the trimming selection.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="waiting" id="waiting"></a>
			<h3>Why does it take so long?</h3>
		</div>
		<p>
		  As GEMs are typically pretty big it takes some time to process them.
		  We have of course been aware of that when developing the GEMtractor and implemented the modules with a strong focus on efficiency.
		  And it actually works quite well for most models, but some models cause a significant delay.
		  Nevertheless, let's have a look into the different delays to give you a feeling about what you're waiting for.
		  We distinguish the following waiting times:
		  <ul>
		    <li><strong>When selecting a model:</strong> (i) If you select a model from BiGG or Biomodels, the GEMtractor need to download the model. Some of those models are extremely big, with up to 200 MB in size! Thus, it takes some time to obtain the model's SBML code &mdash; the model's name in the table is replaced by a loading indicator to let you know that something's happening. (ii) If you upload a model, it may also take some time depending on the size of your model and your internet connection. If this delay is a problem for you, you may want to <a href="#own-gemtractor">run your own GEMtractor locally</a> to get rid of the upload-waiting-time.</li>
		    <li>
		      <strong>When clicking <em>Trim:</em></strong> To start the trimming process, your browser needs the necessary information about the network encoded in your model.
		      Thus, at the server-side the GEMtractor needs to (i) read the model, (ii) extract the network, (iii) unfold the gene-association, (iv) serialize all the information in JSON and send it to your browser.
		      Typically, all sub-tasks grow with the model size, and so grows the waiting time.
		      However, some models come with pretty complex gene-association, such as <code>(A or B) and (C or D or E) and (F or G or H)</code>, which unfolds into 18 possible enzyme combinations...
		      This increases the computational time exponentially.
		      That's all done on our servers which are already quite fast, so there is not much you can do about it.
		      Unless you have a faster server &mdash; then it would make sense to <a href="#own-gemtractor">run your own GEMtractor</a>.
		    </li>
		    <li>
		      <strong>While Trimming:</strong> As soon as you obtained the model's network, you can start trimming the model.
		      The whole trimming process is done in your browser &mdash; thus, the performance depends on your local computer/laptop.
		      For most models you won't recognize a delay, but for some models it will take a second or two after you (de)select a model entity, because your browser needs to recompute the trimmed whole network to check for inconsistencies.
		      If you for example remove a reaction, it needs to check all species, enzymes, and enzyme-complexes to see if they now lack a connection in the model. Thus, in case of Recon3D it would need to re-evaluate almost 25 thousand model entities! And that may take a second on old laptops or out-dated browsers. Change/upgrade your browser or switch to a faster computer to speed-up this process.
		    </li>
		    <li>
		      <strong>When Exporting:</strong> Exporting the trimmed model takes about as long as waiting for the network when clicking <em>Trim,</em> because the task is similar and it's all done on the server-side:
		      The GEMtractor needs to (i) read the model, (ii) apply your trimming filters, (iii) extract the network, (iv) unfold the gene-association, and (v) serialize the network in your chosen format.
		      The serialization process is fast and thus neglectable.
		      The waiting time may however decrease a lot if you trimmed a lot &mdash; if there are for instance just a few reactions left, there won't be much to extract or unfold...
		      Thus, to improve the speed you can trim more entities or <a href="#own-gemtractor">deploy the GEMtractor on a faster server</a>.
		    </li>
		  </ul>
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="what-currency-metabolites" id="what-currency-metabolites"></a>
			<h3>What are currency metabolites?</h3>
		</div>
		<p>
		  Currency metabolites are species in a model, which are used in almost every circumstance, as a medium of exchange.
		  They are typically the most abundant species, so that their concentrations put no constraints on the activity of a reaction &mdash; they can be regarded as externally buffered with respect to the system [<a href="https://dx.doi.org/10.1049/iet-syb%3A20060077">Huss and Holme2006</a>].
		</p>
		<p>
		  See also <a href="#currency-metabolites">How can I discard currency metabolites (such as H<sup>+</sup>, H<sub>2</sub>O or ATP)?</a>
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
	  <div class=" anchor-heading">
		  <a name="currency-metabolites" id="currency-metabolites"></a>
		  <h3>How can I discard currency metabolites (such as H<sup>+</sup>, H<sub>2</sub>O or ATP)?</h3>
	  </div>
	  <p>
	    The tables listing the entities at the trimming page are sortable.
	    Thus, you can click the header cell of a column to sort it ascending &mdash; if you click it again, the column will be sorted descending.
	  </p>
	  <p>
            If you want to discard currency metabolites, you can sort the species table by the occurences.
            This will bring the currency metabolites to the top of the page, making it easy to get rid of them, as shown in this screen shot:
            <img src="{% static 'pics/screenshot-currency-metabolites-annotated.png' %}" class="w3-image w3-padding" alt="image of a sorted species table">
	    See also <a href="#what-currency-metabolites">What are currency metabolites?</a>
        </p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="which-biomodels" id="which-biomodels"></a>
			<h3>How did the GEMtractor select the models from Biomodels?</h3>
		</div>
		<p>
		  <a href="https://www.ebi.ac.uk/biomodels/">Biomodels</a> is a high-quality resource for GEMs encoded in SBML.
		  They actually feature <a href="https://www.ebi.ac.uk/biomodels/search?query=genome scale metabolic model AND modelformat%3A%22SBML%22">thousands of genome-scale metabolic models!</a>
		  However, the GEMtractor just lists the first 100 of these search results.
		  This is just to give you a quick-start.
		  We won't implement yet another search interface for Biomodels.
		  To filter for organisms or annotations please go to the Biomodels website, find your model and copy the model's identifier to paste it in the GEMtractor's download field.
		</p>
		<p>
		  Please note: Many models from Biomodels are encoded in <a href="http://sbml.org/Main_Page">SBML</a> prior to level 3.
		  Thus, they do not support the <a href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/fbc">FBC package</a> (see <a href="#gene-association">How does the GEMtractor identify enzymes that are associated to a reaction?</a>) and gene associations are annotated in free text.
		  This is of course error-prone and often went wrong.
		  Consequently, the GEMtractor will throw an error if it doesn't understand the gene associations.
		  If you find such a case, please tell us or the <a href="https://www.ebi.ac.uk/biomodels/contact">Biomodels curation team</a>.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="which-bigg" id="which-bigg"></a>
			<h3>How did the GEMtractor select the models from BiGG?</h3>
		</div>
		<p>
		  <a href="http://bigg.ucsd.edu/models">BiGG Models</a> is a high-quality resource for GEMs encoded in SBML.
		  They currently provide more than hundred SBML models including <a href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/fbc">FBC annotations</a> (see <a href="#gene-association">How does the GEMtractor identify enzymes that are associated to a reaction?</a>).
		  The table at the model-selection tab basically lists all available models from BiGG Models.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="stored-data" id="stored-data"></a>
			<h3>Which data does the GEMtractor store on the server?</h3>
		</div>
		<p>
		  If accessed through a webserver, it stores the uploaded model (or the model downloaded from BiGG or Biomodels) and some session related settings.
		  To see what the GEMtractor stores about you and how to delete the data it stores, head over to the <a href="{% url 'index:imprint' %}#privacy">privacy policy</a>.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="cookies" id="cookies"></a>
			<h3>Why am I always redirected back to model selection?</h3>
		</div>
		<p>
		  You probably do not accept cookies..?
		  The GEMtractor uses sessions to store your settings.
		  These sessions rely on a cookie in your browser.
		  If the GEMtractor doesn't know which model you selected, it won't let you do for filtering or exporting...
		  So you'll always be redirected to model selection.
		</p>
		<p>
		  To learn more on what's stored in your session have a look into the <a href="{% url 'index:imprint' %}#privacy">privacy policy</a>.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="export-options" id="export-options"></a>
			<h3>What are the different export options?</h3>
		</div>
		<p>
		  When you're done trimming the model, you can export the resulting network in three different flavors:
		  <ul>
		    <li>The <strong>Enzyme-centric Network</strong> is a unipartite graph. Every node represents an enzyme and every edge indicates, that the source of the edge catalyzes a reactions, which produces a metabolite that is consumed by another reaction catalyzed by the target of the edge.</li>
		    <li>The <strong>Reaction-centric Network</strong> is a unipartite graph of reactions and their interactions. Two reactions are linked, if the source produced a metabolite that is consumed by the target of the edge.</li>
		    <li>The <strong>Metabolite-Reaction Network</strong> is a tripartite graph, that includes metabolites, reactions, and enzymes and their interactions.</li>
		  </ul>
		  See also <a href="#enzyme-reaction-diff">What's the difference between an Enzyme-centric and a Reaction-centric Network?</a>
		</p>
		<p>
		  You can export each flavor in different formats:
		  <ul>
		    <li>
		      <strong>SBML</strong> &mdash; a standard format for computer models of biological processes.
		      SBML is the only format that allows for proper annotations of entities.
		      By design, SBML is bipartite.
		      Thus, for the unipartite networks (Enzyme-centric and Reaction-centric) the GEMtractor needs to <em>invent fake-reactions</em> to link two nodes.
		      These fake reactions have exactly one input and one output.
		      However, if it's mandatory to receive a unipartite network and you don't need the annotation, you should go for one of the other formats.
		      See also <a href="http://sbml.org/Main_Page">sbml.org</a>
		    </li>
		    <li><strong>GraphML</strong> &mdash; a graph format based on XML. In addition to the core network descriptions, the GEMtractor attaches a shape, a label, and a type to the nodes in the nodes in the graph. See also <a href=""></a></li>
		    <li><strong>DOT</strong> &mdash; a graph description language with a simple syntax and many converters and tool support. See also <a href="https://en.wikipedia.org/wiki/DOT_(graph_description_language)">Wikipedia:DOT</a></li>
		    <li><strong>GML</strong> &mdash; a graph description language with a simple syntax. See also <a href="https://en.wikipedia.org/wiki/Graph_Modelling_Language">Wikipedia:GML</a></li>
		    <li><strong>CSV</strong> &mdash; comma separated values. This just lists the edges' sources and targets, separated with a comma :)</li>
		  </ul>
		  Which export works best for you? That depends on your applications..
		  For example, if you want to analyze the model's behavior, you're probably well-advised with SBML and some simulation tool such as <a href="http://copasi.org/">COPASI</a>.
		  If you instead want to study the network's topology, you may go with the GML export and <a href="https://cytoscape.org/">Cytoscape</a>.
		  To quickly generate visualizations of the network, the DOT format will be your choice. Just compile it with e.g. <a href="http://graphviz.org/">dot, neato, twopi or circo</a>.
		  To visualize the network in the browser, we can recommend GraphML together with <a href="http://js.cytoscape.org/">Cytoscape.js</a>.
		  And if you just want to count the connections or some other simple statistics, you would go for the CSV file.
		</p>
		<p>
		  A few more export options provide control over inconsistencies in the trimmed graph:
		  <ul>
		    <li><strong>Remove reactions, whose enzymes were all removed:</strong> You may have trimmed all the enzymes and enzyme complexes that catalyzes a certain reaction, but didn't trim the reaction itself &mdash; so the reaction is still in the mode, but it may not occur anymore. Should such reactions without enzymes be removed as well? (If you export the Enzyme-centric Network removing these reactions is mandatory: As there are no enzymes there is no Enzyme-centric Network to extract..)</li>
		    <li><strong>Remove ghost species:</strong> After trimming there may be species in the model, that do not appear in any reaction anymore &mdash; we call those <em>ghost species</em>. They may still be required in other entities in the model, that's the GEMtractor keeps them in the model by default. Do you still want to remove those species? This decision only affects the Metabolite-Reaction Network.</li>
		    <li><strong>Discard fake enzymes:</strong> When a reaction does not have an annotation with a gene-association. In these cases, the GEMtractor invents an enzyme (see <a href="no-gene-name">What if no enzyme is associated to a reaction?</a>). Should these fake enzymes be removed prior to subsequent analyzes?</li>
		    <li><strong>Remove reactions, in which at least one species was removed:</strong> If you trim a species off a reaction, this reaction (and its kinetic laws) may become invalid. Should reactions, which do not have all original species anymore, be removed?</li>
		    <li><strong>Removing an enzyme removes all complexes in which it participates:</strong> A trimmed enzyme may be part of an enzyme complex &mdash; thus, the enzyme complex may be invalid without a certain enzyme.. However, it could as well be, that the enzyme's active site is broken for a certain substrate, but is still fully functional in a complex with other enzymes... So it's up to you: Should enzyme complexes be removed if an individual enzyme is trimmed?</li>
		  </ul>
		</p>
		<p>
		  Please note, that it may take a few seconds (sometimes minutes) to generate the different output files, depending on the size of your model.
		  So don't get nervous &mdash; the click will return! (Sometimes even with an error ;-)
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="wrong-directions" id="wrong-directions"></a>
			<h3>Aren't the directions wrong?</h3>
		</div>
		<p>
		  Maybe... And if you think we did a mistake please do not hesitate to contact us!
		</p>
		<p>
		  However, there are some sommon pitfalls.
		  Let's for example have a look at the following Metabolite-Reaction Network
		  <div id="wrong-directions-example" class="learn-graph"></div>
		  <script>
		    var cy = cytoscape({
		      container: document.getElementById('wrong-directions-example'),
		      elements: [ // list of graph elements to start with
			{ data: { id: 'A' } },
			{ data: { id: 'B' } },
			{ data: { id: 'C' } },
			{ data: { id: 'r', source: 'A', target: 'B', label: 'r' } },
			{ data: { id: 's', source: 'C', target: 'B', label: 's' } }
		      ],

		      style: [
			{
			  selector: 'node',
			  style: {
			    'background-color': '#666',
			    'label': 'data(id)'
			  }
			},
			{
			  selector: 'edge',
			  style: {
			    'label': 'data(label)',
			    'width': 3,
			    'text-margin-y': -10,
			    'line-color': '#ccc',
			    'target-arrow-color': '#ccc',
			    'curve-style': 'bezier',
			    'target-arrow-shape': 'triangle'
			  }
			}
		      ],
		      layout: {
			name: 'grid',
			rows: 1
		      }
		    });
		  </script>
		  which encodes for a reaction <code>r</code> that consumes <code>A</code> and produces <code>B</code>, and another reaction <code>s</code> that consumes <code>C</code> and produces <code>B</code>.
		  Given this network, you could anticipate, that the reaction-centric network contains no edges.
		  However, the SBML code may define <code>s</code> to be <em>reversible</em>!
		  This may only be defined implicitely: In SBML prior to level 3 all reactions are in fact reversible, unless explicitly defined otherwise.
		  Thus, the actual network encoded in the model will look like this:
		  <div id="wrong-directions-example2" class="learn-graph"></div>
		  <script>
		    var cy = cytoscape({
		      container: document.getElementById('wrong-directions-example2'),
		      elements: [ // list of graph elements to start with
			{ data: { id: 'A' } },
			{ data: { id: 'B' } },
			{ data: { id: 'C' } },
			{ data: { id: 'r', source: 'A', target: 'B', label: 'r' } },
			{ data: { id: 's', source: 'C', target: 'B', label: 's' } },
			{ data: { id: 's2', source: 'B', target: 'C', label: 's' } }
		      ],

		      style: [ // the stylesheet for the graph
			{
			  selector: 'node',
			  style: {
			    'background-color': '#666',
			    'label': 'data(id)'
			  }
			},

			{
			  selector: 'edge',
			  style: {
			    'label': 'data(label)',
			    'width': 3,
			    'text-margin-y': -10,
			    'line-color': '#ccc',
			    'target-arrow-color': '#ccc',
			    'curve-style': 'bezier',
			    'target-arrow-shape': 'triangle'
			  }
			}
		      ],
		      layout: {
			name: 'grid',
			rows: 1
		      }
		    });
		  </script>
		  And suddenly, there is an edge in the reaction-centric network:
		  <div id="wrong-directions-example3" class="learn-graph"></div>
		  <script>
		    var cy = cytoscape({
		      container: document.getElementById('wrong-directions-example3'),
		      elements: [ // list of graph elements to start with
			{ data: { id: 'r' } },
			{ data: { id: 's' } },
			{ data: { id: 'x', source: 'r', target: 's' } }
		      ],

		      style: [ // the stylesheet for the graph
			{
			  selector: 'node',
			  style: {
			    'background-color': '#666',
			    'label': 'data(id)'
			  }
			},

			{
			  selector: 'edge',
			  style: {
			    'width': 3,
			    'text-margin-y': -10,
			    'line-color': '#ccc',
			    'target-arrow-color': '#ccc',
			    'curve-style': 'bezier',
			    'target-arrow-shape': 'triangle'
			  }
			}
		      ],
		      layout: {
			name: 'grid',
			rows: 1
		      }
		    });
		  </script>
		  The same also applies to enzyme-centric networks.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="wording" id="wording"></a>
			<h3>Enzyme or Gene? Species or Metabolite?</h3>
		</div>
		<p>
		  Yes, the wording is sometimes difficult. We tried to homogenize everything, but at some points it's inconsistent. For example:
		  <ul>
		    <li>
		      A reaction is basically catalyzed by an <em>enzyme.</em>
		      In SBML, however, those enzymes are called <em>gene-products.</em>
		      And gene-products are direct results from <em>genes.</em>
		      Depending on the context, we use these terms as synonyms, but try to stick with <em>enzyme.</em>
		    </li>
		    <li>
		      While GEMs are typically about <em>metabolites</em> interacting in reactions, in SBML they are more generically referred to as <em>species.</em>
		      Even though, the GEMtractor is focused on GEMs, we basically also support all kinds of models, as long as they are implementable in SBML.
		      For example, you can also trim tiny kinetic models!
		      Thus, we prefer to use the term <em>species.</em>
		    </li>
		    <li>
		      Is it an <em>Enzyme-Centric Network</em> or an <em>Enzyme-Enzyme Network</em> or and <em>Enzyme-Interaction Network?</em>
		      People use seem to use different terms to refer to the same thing: The network of enzymes and their phenotypical interactions.
		      We decided to call it <em>Enzyme-Centric Network</em> (for the enzyme interactions) and <em>Reaction-Centric Network</em> (for reaction interactions).
		    </li>
		    <li>
		      Do you <em>trim a model?</em> Or <em>reduce</em> it? Or <em>cut</em> it? Or <em>filter</em> entities?
		      All these phrases are synonyms to us.
		      However, for the GEMtractor we prefer to talk about <em>trimming of models</em> :)
		    </li>
		  </ul>
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="clear-data" id="clear-data"></a>
			<h3>How can I clear my data?</h3>
		</div>
		<p>
		  To see what the GEMtractor stores about you and how to delete the data it stores head over to the <a href="{% url 'index:imprint' %}#privacy">privacy policy</a>.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="source" id="source"></a>
			<h3>Can I look inside the GEMtractor?</h3>
		</div>
		<p>
		  Sure - the GEMtractor is free software! :)
		</p>
		<p>
		  We develop the source code at an internal repository, but automatically push updates to the <a href="https://github.com/binfalse/gemtractor">GitHub at binfalse:GEMtractor</a>.
		  We are looking forward for your code contributions, bug reports, and feature requests :)
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="modify-settings" id="modify-settings"></a>
			<h3>How can I modify the default settings?</h3>
		</div>
		<p>
		  The settings of the GEMtractor are controlled through environment variables on the server.
		  Thus, you can only change the settings, when running your own GEMtractor server!
		  Just scroll down to learn how to <a href="#own-gemtractor">run your own GEMtractor</a> &mdash; it's pretty easy.
		</p>
	</div>
	
	
	
	
<!--
	<div class="w3-padding w3-card w3-white learn-entry">
		<div class=" anchor-heading">
			<a name="" id=""></a>
			<h3></h3>
		</div>
		<p></p>
	</div>
-->

</div>

























<div class="w3-card w3-flat-clouds w3-margin-top">
  <div class="w3-padding">
    <div class=" anchor-heading">
      <a name="api" id="api"></a>
      <h2>Use the GEMtractor API</h2>
    </div>
  </div>
  
  <div class="w3-padding w3-card w3-white learn-entry">
    <h3>Send Job as JSON</h3>
    <p>
      The API is listening at <code>DOMAIN.URL/api/execute</code> &mdash; it expects a job encoded as JSON and sent via HTTP POST, such as this:
    </p>
    
    <pre>
  {
    "export": {
      "network_type":"mn",
      "network_format":"sbml",
      "remove_reaction_enzymes_removed": False,
      "remove_reaction_missing_species": True,
      "removing_enzyme_removes_complex": True
    },
    "filter": {
      "species": ["h2o", "atp"],
      "reactions": [],
      "enzymes": ["gene_abc"],
      "enzyme_complexes": ["a + b + c", "x + Y", "b_098 + r_abc"],
    },
    "file": "&lt;sbml&gt;...&lt;/sbml&gt;"
  }
    </pre>
    
    <h4>Keys of the job's JSON object</h4>
    <h6>export</h6>
    <p>
      The key <code>export</code> is required, and it must encode for a JSON object containing the following keys:
      <ul>
	<li><code>network_type</code>: String <code>"en"</code> or <code>"mn"</code> &mdash; do you just want the filtered metabolic network (<code>"mn"</code>), or should the GEMtractor return the extracted enzyme network (<code>"en"</code>)?</li>
	<li><code>network_format</code>: String <code>"sbml"</code>, <code>"graphml"</code>, <code>"gml"</code>, or <code>"dot"</code> &mdash; how should the returned network be encoded?</li>
	<li><code>remove_reaction_enzymes_removed</code>: Boolean &mdash; remove reactions, whose enzymes were all removed? (Optional, defaults to <code>true</code>)</li>
	<li><code>discard_fake_enzymes</code>: Boolean &mdash; remove invented enzymes? See <a href="#no-gene-name">What if no enzyme is associated to a reaction?</a> (Optional, defaults to <code>false</code>)</li>
	<li><code>remove_reaction_missing_species</code>: Boolean &mdash; remove reactions, in which at least one species was removed? That is, if you remove a species from a reaction, should the GEMtractor also remove the whole reaction? (Optional, defaults to <code>false</code>)</li>
	<li><code>removing_enzyme_removes_complex</code>: Boolean &mdash; remove enzyme complex, if one of its enzymes was removed? In other words: If you remove an enzyme, should all the complexes in which it participates also been removed? (Optional, defaults to <code>true</code>)</li>
      </ul>
      Scroll up to learn more about the <a href="#export-options">export options</a>.
    </p>
    <h6>filter</h6>
    <p>
      The key <code>filter</code> is optional.
      You just need to provide it, if you want to get rid of some items in the model.
      If provided, it may contain the following keys:
      
      <ul>
	<li><code>species</code>: List of species-identifiers to remove from reactions.</li>
	<li><code>reactions</code>: List of reaction-identifiers to remove from the model.</li>
	<li><code>enzymes</code>: List of gene-identifiers to remove from reactions.</li>
	<li><code>enzyme_complexes</code>: List of enzyme-complex-identifiers to remove from reactions. Every item must contain a string of enzymes in the corresponing enzyme complex joined with the string <code>" + "</code>code>. Thus, if you want to remove the complex formed by the enzymes <code>A23</code> and <code>B_42</code>, you would add <code>"A23 + B_42"</code> to this list.</li>
      </ul>
      
      Every list element is supposed to be a string, which corresponds to the <code>id</code> attribute of the SBML entity.
      However, every list can also be empty.
    </p>
    <h6>file</h6>
    <p>
      The key <code>file</code> is required.
      It must contain the raw SBML code of your input model, including the <code>&lt;?xml version="1.0" encoding="UTF-8"?&gt;</code> prefix.
    </p>
  </div>
  
  <div class="w3-padding w3-card w3-white learn-entry">
    <h3>Expect a response</h3>
    <p>
      Reading, filtering, converting, and exporting may of course take some time, but if the GEMtractor finishes successfullty it will return with an <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success">HTTP response status 200</a> and immeditaly serve the exported content.
    </p>
    <p>
      If the GEMtractor was not successful, you'll get an HTTP status other than 200, for example:
      <ul>
	<li><code>400</code>: Your request was bad, for example the JSON was not well formed or is missing a required key, or the supplied model is not valid SBML.</li>
	<li><code>302</code>: You forgot to send the job as POST data. You'll, thus, be redirected to this section to lear how to fire a job :)</li>
	<li><code>500</code>: There was a problem on the server, e.g. the GEMtractor could not generate the desired file.</li>
      </ul>
      The responded content may give you some hints on what went wrong.
    </p>
  </div>
  
  
  <div class="w3-padding w3-card w3-white learn-entry">
    <h3>Use in your application</h3>
    <p>
      It should be possible to integrate the GEMtractor in any application.
      Some example clients for different languages are supplied with the source code.
      Just have a look into the <a href="https://github.com/binfalse/GEMtractor/tree/master/clients">GitHub repository at binfalse:GEMtractor/clients</a>.
    </p>
  </div>
</div>

























<div class="w3-card w3-flat-clouds w3-margin-top">
  <div class="w3-padding">
    <div class=" anchor-heading">
      <a name="own-gemtractor" id="own-gemtractor"></a>
      <h2>Run your own GEMtractor</h2>
    </div>
    <p>
  -> easy setup with advanced privace
  we may restart the service at any time, so be quick filtering ;-)
    </p>
  </div>
  
  <div class="w3-padding w3-card w3-white learn-entry">
	<div class=" anchor-heading">
		<a name="own-settings" id="own-settings"></a>
		<h3>Settings</h3>
	</div>
    <p>
      There are a few environment variables that gives you some control about the behavior of the GEMtractor:
      
      <ul>
	<li><code>DJANGO_DEBUG</code>: Boolean <code>True</code> or <code>False</code> &mdash; should Django run in debug mode? Do not set to 'True' in production! <small>(default: <code>True</code>, currently: <code>{{DJANGO_DEBUG}}</code>)</small></li>
	<li><code>DJANGO_LOG_LEVEL</code>: String <code>DEBUG</code>, <code>INFO</code>, <code>WARNING</code>, <code>ERROR</code>, or <code>CRITICAL</code> &mdash; what kind of log messages should be reported? <small>(default: <code>True</code>, currently: <code>{{DJANGO_LOG_LEVEL}}</code>)</small></li>
	<li><code>DJANGO_ALLOWED_HOSTS</code>: String &mdash; additional hostname for which GEMtractor should be listening. <small>(currently: <code>{{DJANGO_ALLOWED_HOSTS}}</code>)</small></li>
	<li><code>MAX_ENTITIES_FILTER</code>: Int &mdash; up to how many entities in a model it should allow for filtering in the web browser? Web browsers will die if there are too many entities... <small>(default: <code>100000</code>, currently: <code>{{MAX_ENTITIES_FILTER}}</code>)</small></li>
	<li><code>STORAGE_DIR</code>: Path &mdash; where to store models and exports etc. <small>(default: <code>/tmp/gemtractor-storage/</code>, currently: <code>{{STORAGE_DIR}}</code>)</small></li>
	<li><code>KEEP_UPLOADED</code>: Time in seconds &mdash; how long to keep uploaded files on the server? Everytime an uploaded file is used for filtering or exporting, the age of the file is reset to zero. <small>(default: <code>1.5*60*60</code> = 1.5 hours, currently: <code>{{KEEP_UPLOADED}}</code> seconds)</small></li>
	<li><code>KEEP_GENERATED</code>: Time in seconds &mdash; how long to keep generated files on the server? Generated files are basically only for immediate delivering. <small>(default: <code>10*60</code> = 10 minutes, currently: <code>{{KEEP_GENERATED}}</code> seconds)</small></li>
	<li><code>CACHE_BIGG</code>: Time in seconds &mdash; how long to cache the list of models available from BiGG Models? <small>(default: <code>60*60*24</code> = 24 hours, currently: <code>{{CACHE_BIGG}}</code> seconds)</small></li>
	<li><code>CACHE_BIGG_MODEL</code>: Time in seconds &mdash; how long to cache a single model from BiGG Models? <small>(default: <code>7*60*60*24</code> = 7 days, currently: <code>{{CACHE_BIGG_MODEL}}</code> seconds)</small></li>
	<li><code>CACHE_BIOMODELS</code>: Time in seconds &mdash; how long to cache the search results of models available from Biomodels? <small>(default: <code>60*60*24</code> = 24 hours, currently: <code>{{CACHE_BIOMODELS}}</code> seconds)</small></li>
	<li><code>CACHE_BIOMODELS_MODEL</code>: Time in seconds &mdash; how long to cache a single model from Biomodels? <small>(default: <code>7*60*60*24</code> = 7 days, currently: <code>{{CACHE_BIOMODELS_MODEL}}</code> seconds)</small></li>
      </ul>
      
      There are different ways to set the variables. If you're running the GEMtractor from a shell script, for example, you could do something like that:
    </p>
    <pre>
export CACHE_BIGG=60
export MAX_ENTITIES_FILTER=20000
# [...]
gunicorn --timeout 600 --bind 0.0.0.0:80 gemtractor.wsgi:applicatio</pre>
    <p>
		Thus, the running GEMtractor process will then cache the BiGG Models list for 60 seconds and allow for filtering of models in the browser with up to 20K entities.
	</p>
    <p>
		When using <a href="https://docs.docker.com/compose/">Docker Compose</a>, you would set the variables in the <a href="https://github.com/binfalse/GEMtractor/blob/master/docker-compose.yml">demo docker-compose.yml file</a>, for example:
	</p>
    <pre>
version: '3'
services:
  gemtractor-py:
	[...]
    environment:
        CACHE_BIGG: 60
        MAX_ENTITIES_FILTER: 20000
        [...]</pre>
	
  </div>
</div>
{% endblock %}
