{% extends "base.html" %}
{% load static %}
{% block title %}
learn
{% endblock %}
{% block content %}
<h1>Documentation for the enalyzer</h1>

<ul>
	<li><a href="#faq">Frequently asked questions</a></li>
	<li><a href="#api">Use the enalyzer API</a></li>
	<li><a href="#own-enalyzer">Run your own enalyzer</a></li>
</ul>





<div class="w3-padding w3-card w3-flat-clouds w3-margin">
  <div class=" anchor-heading">
    <a name="faq" id="faq"></a>
    <h2>Frequently asked and invented questions</h2>
  </div>
  <ul>
    <li><a href="#model-support">Which type of models does the enalyzer support?</a></li>
    <li><a href="#gene-association">How does the enalyzer identify genes that are associated to a reaction?</a></li>
    <li><a href="#gene-names">Why do genes have such a strange name?</a></li>
	<li><a href="#no-gene-name">What if no gene is associated to a reaction?</a></li>
    <li><a href="#currency-metabolites">How can i discard currency metabolites (such as H, H2O or ATP)?</a></li>
    <li><a href="#which-biomodels">How did the enalyzer select the models from Biomodels?</a></li>
    <li><a href="#stored-data">Which data does the enalyzer store on the server?</a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#source">Can I look inside the enalyzer?</a></li>
    <li><a href="#modify-settings">How can I modify the default settings?</a></li>
  </ul>
  
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="model-support" id="model-support"></a>
			<h3>Which type of models does the enalyzer support?</h3>
		</div>
		<p>
            The enalyzer supports only models encoded using the <a href="https://sbml.org/">Systems Biology Markup Language (SBML) format</a>.
            SBML is a standard format for computer models of biological processes, based on XML.
            You can find many example models at <a href="https://www.ebi.ac.uk/biomodels/">Biomodels</a> or at <a href="http://bigg.ucsd.edu/">BiGG Models</a>.
        </p>
	</div>
  
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="gene-association" id="gene-association"></a>
			<h3>How does the enalyzer identify genes that are associated to a reaction?</h3>
		</div>
		<p>
            We currently support two formats of gene associations:
            The legacy SBML-notes annotations, and well-structured annotations using the
            <a href="http://sbml.org/Documents/Specifications/SBML_Level_3/Packages/fbc">FBC package</a> in SBML Level 3 documents.
        </p>
		<p>
            An example of legacy SBML-notes annotations from <a href="https://www.ebi.ac.uk/biomodels/MODEL1011080003">MODEL1011080003</a>, which encodes for
            <small><code>438  or  330</code></small>:
        </p>
<pre>
&lt;reaction id="R_METSR_S1" [...]&gt;
	&lt;notes&gt;
		&lt;html:p&gt;<strong>GENE_ASSOCIATION: ( 438  or  330 )</strong>&lt;/html:p&gt;
		&lt;html:p&gt;PROTEIN_ASSOCIATION: MsrA&lt;/html:p&gt;
		&lt;html:p&gt;SUBSYSTEM: S_Amino_Acid_Metabolism&lt;/html:p&gt;
		&lt;html:p&gt;PROTEIN_CLASS:&lt;/html:p&gt;
	&lt;/notes&gt;
	[...]
&lt;/reaction&gt;
</pre>
		<p>
            An example of a well-structured gene associations using FBC from <a href="http://bigg.ucsd.edu/models/e_coli_core">e_coli_core</a>which encodes for
            <small><code>(G_b3738 and G_b3736 and G_b3737 and G_b3735 and G_b3733 and G_b3731 and G_b3732 and G_b3734) or (G_b3734 and G_b3732 and G_b3731 and G_b3733 and G_b3735 and G_b3737 and G_b3736 and G_b3738 and G_b3739)</code></small>:
        </p>
<pre>
&lt;reaction id="R_ATPS4r" [...]&gt;
	[...]<strong>
	&lt;fbc:geneProductAssociation
	  xmlns:fbc="http://www.sbml.org/sbml/level3/version1/fbc/version2"&gt;
	  &lt;fbc:or sboTerm="SBO:0000174"&gt;
		&lt;fbc:and sboTerm="SBO:0000173"&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3738" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3736" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3737" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3735" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3733" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3731" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3732" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3734" /&gt;
		&lt;/fbc:and&gt;
		&lt;fbc:and sboTerm="SBO:0000173"&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3734" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3732" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3731" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3733" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3735" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3737" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3736" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3738" /&gt;
		  &lt;fbc:geneProductRef fbc:geneProduct="G_b3739" /&gt;
		&lt;/fbc:and&gt;
	  &lt;/fbc:or&gt;
	&lt;/fbc:geneProductAssociation&gt;</strong>
	[...]
&lt;/reaction&gt;
</pre>
	</div>
  
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="gene-names" id="gene-names"></a>
			<h3>Why do genes have such a strange name?</h3>
		</div>
		<p>
            The gene names used by the enalyzer are actually the gene's identifiers, typically generated by some kind of software.
            They are often just numbered with a optional prefix (such as g1, g2, g3 etc).
            See also <a href="#no-gene-name">What if no gene is associated to a reaction?</a>
        </p>
		<p>TODO: add mouseover for gene ids if FBC annotations are available, ass mouseover if the gene name is actually the reaction id because we didn't find a gene name</p>
	</div>
	
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="no-gene-name" id="no-gene-name"></a>
			<h3>What if no gene is associated to a reaction?</h3>
		</div>
		<p>
            If the enalyzer cannot find a gene-association, it assumes there is only a single gene and gives it the id of the reaction.
            See also <a href="gene-association">How does the enalyzer identify genes that are associated to a reaction?</a>
        </p>
	</div>
	
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="currency-metabolites" id="currency-metabolites"></a>
			<h3>How can i discard currency metabolites (such as H, H2O or ATP)?</h3>
		</div>
		<p>
            The tables listing the enitities on the filter page are sortable.
            Thus, you can click the header cell of a column to sort it ascending &mdash; if you click it again, the column will be sorted descending.
        </p>
		<p>
            If you want to discard currency metabolites, you can sort the species table by the occurences.
            This will bring the currency metabolites to the top of the page, making it easy to get rid of them, as shown in this screen shot:
            <img src="{% static 'pics/screenshot-currency-metabolites.png' %}" class="w3-image w3-padding" alt="image of a sorted species table">
        </p>
	</div>
	
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="which-biomodels" id="which-biomodels"></a>
			<h3>How did the enalyzer select the models from Biomodels?</h3>
		</div>
		<p>subset of the search for "genome scale metabolic model" (with approximately 7000 results!)</p>
		<p>however, you can choose basically any model from biomodels by pasting the model id in the input field</p>
	</div>
	
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="stored-data" id="stored-data"></a>
			<h3>Which data does the enalyzer store on the server?</h3>
		</div>
		<p>If accessed through a webserver, it stores the uploaded model (or the model downloaded from bigg or biomodels) and some session stuff:</p>
	</div>
	
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="" id=""></a>
			<h3></h3>
		</div>
		<p></p>
	</div>
	
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="source" id="source"></a>
			<h3>Can I look inside the enalyzer?</h3>
		</div>
		<p>
		  Sure - the enalyzer is free software! :)
		</p>
		<p>
		  We develop the source code at an internal repository, but automatically push updated to GitHub at TODO.
		</p>
	</div>
	
	<div class="w3-padding w3-card w3-flat-clouds w3-margin">
		<div class=" anchor-heading">
			<a name="modify-settings" id="modify-settings"></a>
			<h3>How can I modify the default settings?</h3>
		</div>
		<p>
		  The settings of the enalyzer are controlled through environment variables on the server.
		  Thus, you can only change the settings, when running your own enalyzer server!
		  Just scroll down to learn how to <a href="#own-enalyzer">run your own enalyzer</a> &mdash; it's pretty easy.
		</p>
	</div>

</div>

<div class="w3-padding w3-card w3-flat-clouds w3-margin">
  <div class=" anchor-heading">
    <a name="api" id="api"></a>
    <h2>Use the enalyzer API</h2>
  </div>
</div>

<div class="w3-padding w3-card w3-flat-clouds w3-margin">
  <div class=" anchor-heading">
    <a name="own-enalyzer" id="own-enalyzer"></a>
    <h2>Run your own enalyzer</h2>
  </div>
</div>

<h2>Technical notes</h2>
that's how we do it....

only available for linux
but also as docker image
-> easy setup with advanced privace


you need to accept cookies

we may restart the service at any time, so be quick filtering ;-)

<pre>
Upload: to /api/upload -> returns id

/api/network
 - model (url or id)
 - returns network information in json

/api/call
 - model (url or id)
 - filters
 - type rn or gn
 - format (json, graphml, gml, dot, sbml -- with extra knowledge etc)


/api/filter/reactions
/api/filter/species
/api/filter/genes
-> upload a file and return filtered stuff as json



filtering for something, will remove everything where something appears:
-> removing a species will remove all reactions that this species is involved in


</pre>
<h2>API</h2>
use this and that
{% endblock %}
